.login{
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    color: var(--text-primary);
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
}

.login-container{
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-input{
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 10px 10px 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.login-button{
    width: 100%;
    padding: 10px 15px;
    background-color: #026682;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color: #026682;
}

.login-container h1{
    font-size: 24px;
    margin-bottom: 20px;
}

.login-container span {
  text-decoration: none;
  color: var(--accent-color) !important;
  cursor: pointer;
}

.login-container span:hover {
  color: var(--accent-hover);
}

.login-container:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0,0.3);
}